<div class="user-details">
  <h1>About Us</h1>
  <p>{{ site.user_description }}</p>
</div>

<h1>Our Services</h1>
<div class="user">
  <div class="tech">
    <h2>Talent Acquisition</h2>
    <p>We offer you a comprehensive search to find and attract best candidates for various job functions. Besides conducting the whole recruitment process from A to Z, we can also help you in partial tasks such as CV screening, phone interviewing, reference checks etc.</p>
  </div>
  <div class="tech">
    <h2>Interim HR Support (on-site or remote)</h2>
    <p>Do you need a temp employee to fill in for one of your teammates’ sick leave or annual leave? Or are you going through a busy period and could use extra help? We are happy to give you a hand in your office or remotely.</p>
  </div>
  <div class="tech">
    <h2>Customized gift boxes for employees</h2>
    <p>As you can imagine, happy people are more productive in business! Make your employees feel invaluable and ensure their commitment with your thoughtful presents. We deliver customised gift boxes for your corporation. For available packages, please contact us.</p>
  </div>
</div>
</br>
<div class="user">
  <div class="tech">
    <h2>Our Values</h2>
    <p>We understand selecting the right talent is crucial for companies and we care about candidate experience. We believe that keeping the talents happy and understanding our clients' needs and expectations are the key to success. ​Aden HR Consultancy, while exerting an effort to reach a fast and quality result with a perfectionist approach, conducts its business processes adhering to high ethical standards, honesty and confidentiality principles.</p>
  </div>
  <div class="tech">
    <h2>Job Seekers</h2>
    <p>If you are looking for a new opportunity that suits your skills and expectations, please send us your CV! We will try our best to find you your dream job.</br><a href="mailto:contact@adenconsultancy.net">Contact us !</a></p>
  </div>
</div>
