<footer class="footer">
    <!-- <p>&copy; {{ site.username }}</p> -->
    <p>Copyright <a href="https://www.youtube.com/embed/AK7jTjtSV94?autoplay=1&loop=1&modestbranding=1&showinfo=0&rel=0&iv_load_policy=3&controls=0&disablekb=1">©</a> 2019-2020 Aden HR Consultancy.</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
